
@media (min-width: 0px) and (max-width: 640px) {
  .slogan {
    font-size: 50px;
    top: 13%;
    right: -10%;
  }
}

@media (min-width: 640px) and (max-width: 900px) {
  .slogan {
    font-size: 60px;
    top: 10%;
    right: 1%;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .slogan {
    font-size: 80px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .slogan {
    font-size: 80px;
  }
}