
@media (min-width: 0px) and (max-width: 640px) {
  .slogan {
    font-size: 40px;
    top: 13%;
    width: 100px;
    margin:0 20px 0 0;
  }
  .trio_block > div {
    width: 90% !important;
  }
  .main-container-text > div {
    padding: 5% 10% !important;
  }
  .order_main > div {
    width: 75%;
    margin: auto !important;
  }
  .order_main {
    flex-direction: column;
  }


  .order_main > div {
    width: 75%;
  }

  .order_info > h5 {
    font-size: 2.7vh !important;
  }
  .order_info > h6, .order_info > ul {
    font-size: 2vh;
  } 
}

@media (min-width: 640px) and (max-width: 900px) {
  .slogan {
    font-size: 60px;
    top: 10%;
    right: 1%;
  }
  .trio_block > div {
    width: 90 !important;
  }
  .order_main {
    flex-direction: column;
  }



  .order_main > div {
    width: 75%;
  }

  .order_info > h5 {
    font-size: 2.7vh !important;
  }
  .order_info > h6, .order_info > ul {
    font-size: 2vh;
  }

}
@media (min-width: 900px) and (max-width: 1200px) {
  .slogan {
    font-size: 80px;
  }
  


  .order_main > div {
    width: 75%;
  }

  .order_info > h5 {
    font-size: 2.7vh !important;
  }
  .order_info > h6, .order_info > ul {
    font-size: 2vh;
  }
  .order_main {
    flex-direction: column;
  }




}

@media (min-width: 1200px) and (max-width: 1600px) {
  .slogan {
    font-size: 80px;
  }
  .trio_block > div {
    width: 60% !important;
  }

  .order_main > div {
    width: 42%;
  }
  .order_info > h5 {
    line-height: 1 !important;
  }
}


@media (min-width: 1600px) {
  .order_main > div {
    width: 33%;
  }
  .order_info > h5 {
    line-height: 1.2 !important;
  }
}







.hidden-under-trio-txt {
  display: none;
  margin: 30px;
  text-align: center;
}

.hidden-under-trio-txt > p {
  text-align: center;
}

@media (min-width: 0px) and (max-width: 768px) {
  .hidden-under-trio-txt {
    display: block;
  }
}






